<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Plastic Waste by Country</title>
  <meta name="author" content="Samara and Erin">
  <meta name="description" content="A visual representation of the Global Plastic Waste">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>
  <header>
    <h1>Plastic Waste by Country</h1>
  </header>
  <section id="country-table">
    <table>
      <tr>
        <th>Entity</th>
        <th>Year</th>
        <th>Plastic Waste Generation</th>
        <th>Mismanaged</th>
        <th>Inadequate</th>
        <th>perCapita</th>
      </tr>
      <% for(let i=1; i<data.length; i++){ %>
      <tr>
        <td><%= data[i].entity %></td>
        <td><%= data[i].year %></td>
        <td><%= data[i].pwg %></td>
        <td><%= data[i].mismanaged %></td>
        <td><%= data[i].inadequate %></td>
        <td><%= data[i].perCapita %></td>
      </tr>
      <%}%>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
